
{{>header}}
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-mid-10 col-12 ">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right mx-auto">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="image/aboutme.jpg" class="d-block w-50 mx-auto about" alt="...">
                              </div>
                              
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-12 main_header_left mx-auto my-5">
                        <h1 class="h1">My Name Is Neelesh Tiwari</h1>
                        <h3 class="full">Full STack Web Developer </h3>
                        <h4>&</h4>
                        <h3 class="soft">Software Developer</h3>
                        <a href="/weather"><button class="btn1">About Me</button></a>
                    </div>

                </div>

            </div>
        </div>    
    </div>

    {{>footer}}